* = @all

src/no-lineales/ = @jose-luis-fernandez
src/lineales/ = @maria-gonzalez
src/integracion/ = @juan-pablo-ramirez
src/interpolacion/ = @ana-maria-sanchez
src/edo/ = @carlos-martinez

docs/ = @equipo-documentacion